/* Fuentes */
/* Medidas */
footer {
  background-color: #486d72; }
  footer .footer__logo {
    display: inline;
    width: 70px;
    height: 70px; }
  footer .footer__iconos {
    display: inline; }
  footer .footer .spam {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end; }

header {
  background-color: #1d4242;
  height: 70px; }
  header .header__titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    color: #101620; }
  header .header__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; }
  header .header__ul {
    display: flex;
    list-style: none;
    padding: 0 16px;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    flex-grow: 1; }
  header .header__item {
    padding: 20px; }
  header .header__item a {
    color: black;
    text-decoration: none; }

main {
  background-color: #566777; }
  main .main__main {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px; }
  main .main__imagen {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: auto; }
  main .main__calendario {
    display: flex;
    flex-direction: column;
    align-items: center; }
  main .main .calendario {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    padding-bottom: 30px; }
  main .main__parrafo {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    text-align: center; }

.galeria {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 25px;
  border: 1px solid black;
  background-color: black;
  color: #91e5e5; }
  .galeria__grid {
    display: grid;
    margin: 5%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "alfombra habitacion trapiando sill" "aspirando sillon cortina alf" "sala cojin almohadon tres";
    column-grap: 15px;
    row-gap: 15px; }
  .galeria .alfombra {
    grid-column-start: 1;
    grid-row-start: 1;
    background-image: url("../recursos/alfombra.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px; }
  .galeria .trapiando {
    grid-column-start: 3;
    grid-row-start: 1;
    background-image: url("../recursos/trapiando(1).jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px; }
  .galeria .habitacion {
    grid-column-start: 2;
    grid-row-start: 1;
    background-image: url("../recursos/habitacion.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px; }
  .galeria .aspirando {
    grid-column-start: 1;
    grid-row-start: 2;
    background-image: url("../recursos/aspirando.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px; }
  .galeria .sillon {
    grid-column-start: 2;
    grid-row-start: 2;
    background-image: url("../recursos/sillon.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px; }
  .galeria .cojin {
    grid-column-start: 2;
    grid-row-start: 3;
    background-image: url("../recursos/cojin.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px; }
  .galeria .sala {
    grid-column-start: 1;
    grid-row-start: 3;
    background-image: url("../recursos/sala.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px; }
  .galeria .cortina {
    grid-column-start: 3;
    grid-row-start: 2;
    background-image: url("../recursos/cortina.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px; }
  .galeria .almohadon {
    grid-column-start: 3;
    grid-row-start: 3;
    background-image: url("../recursos/almohadon.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px; }
  .galeria .sill {
    grid-column-start: 4;
    grid-row-start: 1;
    background-image: url("../recursos/sill.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px; }
  .galeria .alf {
    grid-column-start: 4;
    grid-row-start: 2;
    background-image: url("../recursos/alf.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px; }
  .galeria .tres {
    grid-column-start: 4;
    grid-row-start: 3;
    background-image: url("../recursos/tres.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px; }

.servicios {
  text-align: center; }
  .servicios__1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    font-family: "Lato", sans-serif;
    font-size: 20px; }
  .servicios__2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 20px; }
  .servicios__3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 20px; }
  .servicios__4 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 20px; }
  .servicios .h3 {
    text-align: center; }
  .servicios__parrafo {
    text-align: center; }

.pregunta {
  display: flex;
  width: 35%;
  height: auto; }
  .pregunta .frecuente {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 300px; }
  .pregunta .uno {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 20px; }
  .pregunta .dos {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 20px; }

* {
  margin: 0%;
  padding: 0%; }

/* receteo */
body {
  font-family: 'Lato', sans-serif; }

h1 {
  font-family: 'Roboto', sans-serif;
  text-align: center; }

h2 {
  font-family: 'Lato', sans-serif; }

p {
  padding: 0 16px; }
