.galeria {
    display: flex;
    flex-direction: column;

    &__titulo {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $font-texto;
        font-size: $font-size-gal;
        border: 1px solid black;
        background-color: black;
        color: $color-galeria;
    }

}