main {
    background-color: $color-main;
}

        .section__calendario {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        .calendario {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20%;
            padding-bottom: 30px;
        }

        .section__parrafo {
            font-family: $font-texto;
            font-size: 20px;
            text-align: center;
            padding-right: 1rem;
        }