main {
    background-color: $color-main;

    .main {
        .section__calendario {
            display: flex;
            align-items: flex-end;
        }

        .calendario {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20%;
            padding-bottom: 30px;
        }

        .section__parrafo {
            font-family: $font-texto;
            font-size: 20px;
            text-align: center;
        }
    }
}