main {
    background-color:$color-main;
    .main{
        .section__main {
            display: flex;
            flex-direction: row;
            width: 100%;
            padding: 20px;
        }
        
        .section__imagen {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            height: auto;
        }
        
        .section__calendario {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .calendario{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20%;
            padding-bottom: 30px;
        }
        
        .section__parrafo{
            font-family: $font-texto;
            font-size: 20px;
            text-align: center;
        }
    }
}