@media (min-width: 320px) and (max-width: 575px) {
    header {
        height: auto;
        .header{
            &__nav {
                flex-direction: column;
                }
                
            &__ul {
                flex-direction: column;
                flex-grow: 0;
                justify-content: center;
                align-items: center;
            }
            .nav{
                flex-direction: column;
            }
            .logo{
            width: 100vw;
            margin: 0%;
            }
        }
    }

    img {
        width: 100vw;
        height: auto;
    }
/* fin de la navegacion mobile */

/* galeria mobile*/
.galeria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    border: 1px solid black;
    background-color: black;
    color: #D6D6D6;
    &__mobile{
        flex-direction: column;
    } 
    
    &__grid{
        display: grid;
        margin: 5%;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "alfombra"
                            "tres"
                            "aspirando"
                            "almohadon"
                            "sala"
                            "cojin"
                            "habitacion" 
                            "alf"
                            "trapiando"
                            "cortina"
                            "sill" 
                            "sillon";
        column-gap: 5px;
        row-gap: 5px;
        
    }
    
    .alfombra{
        grid-column-start: 1;
        grid-row-start: 1;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 150px;
        height: 150px;

    }
    
    .trapiando{
        grid-column-start: 1;
        grid-row-start: 9;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 150px;
        height: 150px;
    }
    
    .habitacion{
        grid-column-start: 1;
        grid-row-start: 7;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 150px;
        height: 150px;
    }
    
    .aspirando{
        grid-column-start: 1;
        grid-row-start: 3;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 150px;
        height: 150px;
    }
    
    .sillon{
        grid-column-start: 1;
        grid-row-start: 12;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 150px;
        height: 150px;
    }
    
    .cojin{
        grid-column-start: 1;
        grid-row-start: 6;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 150px;
        height: 150px;
    }
    
    .sala{
        grid-column-start: 1;
        grid-row-start: 5;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 150px;
        height: 150px;
    }
    
    .cortina{
        grid-column-start: 1;
        grid-row-start: 10;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 150px;
        height: 150px;
    }
    
    .almohadon{
        grid-column-start: 1;
        grid-row-start: 4;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 150px;
        height: 150px;
    }
    
    .sill{    
        grid-column-start: 1;
        grid-row-start: 11;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 150px;
        height: 150px;
    }
    
    .alf{
        grid-column-start: 1;
        grid-row-start: 8;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 150px;
        height: 150px;
    }
    .tres{
        grid-column-start: 1;
        grid-row-start: 2;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 150px;
        height: 150px;
    }
}
/* end de la galeria mobile*/

/* servicios mobile*/
.servicios{
    text-align: center;
    &__parrafo{
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-size: 15px;
    }
    
    &__1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    &__2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__3{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__4{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .h2{
        text-align: center;
    }
}
/* end de servicios mobile */

/* preguntas frecuentes */
.pregunta{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "frecuente uno dos";
    width: 35%;
    height: auto;
    .mobile__preg{
        flex-direction: column;
    }
    
    .frecuente{
        width: 300px;
        height: 300px;
    }
}
/* end preguntas frecuentes */

/* medidas de tablet */
@media (min-width: 557px) and (max-width: 992px) {
    
}