.section-preguntas {
    display: flex;
    flex-direction: row;

    .pregunta-frecuente {
        display: flex;
        width: 35%;
        height: auto;
        display: flex;
        flex-direction: row;
        width: $width-pf;
        height: $height-pf;
        margin-right: 30px;
    }
}