/* Fuentes */
$font-texto: 'Lato', sans-serif;
$font-titulos: 'Roboto', sans-serif;
/* Medidas */
$width-galeria: 250px;
$height-galeria: 250px;
$width-pf: 300px;
$height-pf: 300px;
/* Colores */
$color-footer: #C9C9C9;
$color-header: #C9C9C9;
$color-main: #C9C9C9;
$color-galeria: #D6D6D6;
/* Tamanio de fuentes */
$font-size-ser: 20px;
$font-size-gal: 25px;
$font-size-pf: 20px;