@import "variables";
@import "main";
@import "header";
@import "footer";
@import "galeria";
@import "servicios";
@import "preguntas-frecuentes";

* {
    margin: 0%;
    padding: 0%;
}

/* receteo */
body {
    font-family: 'Lato', sans-serif;
    min-height: 100%;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h2 {
    font-family: 'Lato', sans-serif;
}

p {
    padding: 0 16px;
}

html {
    height: 100vh;
}